In [6]:
%run data_cleaning.ipynb
merged_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,Profit,Profit:Production Ratio
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,2012-12-31,Foodfight!,45000000,0,73706,2012,-44926294,-0.998362
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,2013-12-25,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013,96861183,1.064409
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,2014-09-19,A Walk Among the Tombstones,28000000,26017685,62108587,2014,34108587,1.218164
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,2015-06-12,Jurassic World,215000000,652270625,1648854864,2015,1433854864,6.669092
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,2011-10-28,The Rum Diary,45000000,13109815,21544732,2011,-23455268,-0.521228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,2019-02-13,Happy Death Day 2U,9000000,28051045,64179495,2019,55179495,6.131055
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,2019-08-14,Blinded by the Light,15000000,0,0,2019,-15000000,-1.000000
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,2018-09-21,Fahrenheit 11/9,5000000,6352306,6653715,2018,1653715,0.330743
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,2010-02-09,Icarus,6000000,0,0,2010,-6000000,-1.000000
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,2019-03-29,Unplanned,6000000,18107621,18107621,2019,12107621,2.017937

In [7]:
merged_df['time_grouping'] = 0
merged_df.loc[(merged_df['runtime_minutes'] > 0) & (merged_df['runtime_minutes'] <= 30), 'time_grouping'] = 1
merged_df.loc[(merged_df['runtime_minutes'] > 30) & (merged_df['runtime_minutes'] <= 60), 'time_grouping'] = 2
merged_df.loc[(merged_df['runtime_minutes'] > 60) & (merged_df['runtime_minutes'] <= 90), 'time_grouping'] = 3
merged_df.loc[(merged_df['runtime_minutes'] > 90) & (merged_df['runtime_minutes'] <= 120), 'time_grouping'] = 4
merged_df.loc[(merged_df['runtime_minutes'] > 120) & (merged_df['runtime_minutes'] <= 150), 'time_grouping'] = 5
merged_df.loc[(merged_df['runtime_minutes'] > 150) & (merged_df['runtime_minutes'] <= 180), 'time_grouping'] = 6
merged_df

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year,Profit,Profit:Production Ratio,time_grouping
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,2012-12-31,Foodfight!,45000000,0,73706,2012,-44926294,-0.998362,4
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,2013-12-25,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013,96861183,1.064409,4
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,2014-09-19,A Walk Among the Tombstones,28000000,26017685,62108587,2014,34108587,1.218164,4
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,2015-06-12,Jurassic World,215000000,652270625,1648854864,2015,1433854864,6.669092,5
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,2011-10-28,The Rum Diary,45000000,13109815,21544732,2011,-23455268,-0.521228,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,2019-02-13,Happy Death Day 2U,9000000,28051045,64179495,2019,55179495,6.131055,4
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,2019-08-14,Blinded by the Light,15000000,0,0,2019,-15000000,-1.000000,4
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,2018-09-21,Fahrenheit 11/9,5000000,6352306,6653715,2018,1653715,0.330743,5
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,2010-02-09,Icarus,6000000,0,0,2010,-6000000,-1.000000,3
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,2019-03-29,Unplanned,6000000,18107621,18107621,2019,12107621,2.017937,4

In [31]:
import pandas as pd

# Assuming 'release_date' is a datetime column in your DataFrame
merged_df['release_date'] = pd.to_datetime(merged_df['release_date'])
merged_df['doy'] = merged_df['release_date'].dt.dayofyear

# Define season ranges
spring = range(80, 172)
summer = range(172, 264)
fall = range(264, 355)

# Combine ranges into a single list
if day of year falls within range then

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,...,movie,production_budget,domestic_gross,worldwide_gross,year,Profit,Profit:Production Ratio,time_grouping,season,doy
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,...,Foodfight!,45000000,0,73706,2012,-44926294,-0.998362,4,NaN,366
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,...,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013,96861183,1.064409,4,"[354.0, 366.0)",359
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,...,A Walk Among the Tombstones,28000000,26017685,62108587,2014,34108587,1.218164,4,"[262.0, 263.0)",262
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,...,Jurassic World,215000000,652270625,1648854864,2015,1433854864,6.669092,5,"[163.0, 164.0)",163
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,...,The Rum Diary,45000000,13109815,21544732,2011,-23455268,-0.521228,4,"[301.0, 302.0)",301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,...,Happy Death Day 2U,9000000,28051045,64179495,2019,55179495,6.131055,4,"[0.0, 80.0)",44
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,...,Blinded by the Light,15000000,0,0,2019,-15000000,-1.000000,4,"[226.0, 227.0)",226
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,...,Fahrenheit 11/9,5000000,6352306,6653715,2018,1653715,0.330743,5,"[264.0, 265.0)",264
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,...,Icarus,6000000,0,0,2010,-6000000,-1.000000,3,"[0.0, 80.0)",40
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,...,Unplanned,6000000,18107621,18107621,2019,12107621,2.017937,4,"[88.0, 89.0)",88

In [ ]:
merged_df['season'] = 0
merged_df.loc[(merged_df['doy'] > 0) & (merged_df['doy'] <= 30), 'season'] = "Spring"
merged_df.loc[(merged_df['doy'] > 30) & (merged_df['doy'] <= 60), 'season'] = "Summer"
merged_df.loc[(merged_df['doy'] > 60) & (merged_df['doy'] <= 90), 'season'] = "Fall"
merged_df.loc[(merged_df['doy'] > 90) & (merged_df['doy'] <= 120), 'season'] = ""
merged_df

In [36]:
merged_df['season'] = 0
merged_df.loc[(merged_df['doy'] >= 60) & (merged_df['doy'] <= 151), 'season'] = "Spring"
merged_df.loc[(merged_df['doy'] >= 152) & (merged_df['doy'] <= 243), 'season'] = "Summer"
merged_df.loc[(merged_df['doy'] >= 234) & (merged_df['doy'] <= 334), 'season'] = "Fall"
merged_df.loc[(merged_df['doy'] >= 1) & (merged_df['doy'] <= 59), 'season'] = "Winter"
merged_df.loc[(merged_df['doy'] >= 335) & (merged_df['doy'] <= 366), 'season'] = "Winter"
merged_df

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,...,movie,production_budget,domestic_gross,worldwide_gross,year,Profit,Profit:Production Ratio,time_grouping,season,doy
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,...,Foodfight!,45000000,0,73706,2012,-44926294,-0.998362,4,Winter,366
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,...,The Secret Life of Walter Mitty,91000000,58236838,187861183,2013,96861183,1.064409,4,Winter,359
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,...,A Walk Among the Tombstones,28000000,26017685,62108587,2014,34108587,1.218164,4,Fall,262
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,...,Jurassic World,215000000,652270625,1648854864,2015,1433854864,6.669092,5,Summer,163
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,...,The Rum Diary,45000000,13109815,21544732,2011,-23455268,-0.521228,4,Fall,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,...,Happy Death Day 2U,9000000,28051045,64179495,2019,55179495,6.131055,4,Winter,44
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,...,Blinded by the Light,15000000,0,0,2019,-15000000,-1.000000,4,Summer,226
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,...,Fahrenheit 11/9,5000000,6352306,6653715,2018,1653715,0.330743,5,Fall,264
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,...,Icarus,6000000,0,0,2010,-6000000,-1.000000,3,Winter,40
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,...,Unplanned,6000000,18107621,18107621,2019,12107621,2.017937,4,Spring,88

In [37]:
merged_df['season dummy'] = 0
merged_df.loc[(merged_df['doy'] >= 60) & (merged_df['doy'] <= 151), 'season dummy'] = "1"
merged_df.loc[(merged_df['doy'] >= 152) & (merged_df['doy'] <= 243), 'season dummy'] = "2"
merged_df.loc[(merged_df['doy'] >= 234) & (merged_df['doy'] <= 334), 'season dummy'] = "3"
merged_df.loc[(merged_df['doy'] >= 1) & (merged_df['doy'] <= 59), 'season dummy'] = "4"
merged_df.loc[(merged_df['doy'] >= 335) & (merged_df['doy'] <= 366), 'season dummy'] = "4"
merged_df

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,...,production_budget,domestic_gross,worldwide_gross,year,Profit,Profit:Production Ratio,time_grouping,season,doy,season dummy
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,...,45000000,0,73706,2012,-44926294,-0.998362,4,Winter,366,4
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,...,91000000,58236838,187861183,2013,96861183,1.064409,4,Winter,359,4
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,...,28000000,26017685,62108587,2014,34108587,1.218164,4,Fall,262,3
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,...,215000000,652270625,1648854864,2015,1433854864,6.669092,5,Summer,163,2
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,...,45000000,13109815,21544732,2011,-23455268,-0.521228,4,Fall,301,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,...,9000000,28051045,64179495,2019,55179495,6.131055,4,Winter,44,4
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,...,15000000,0,0,2019,-15000000,-1.000000,4,Summer,226,2
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,...,5000000,6352306,6653715,2018,1653715,0.330743,5,Fall,264,3
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,...,6000000,0,0,2010,-6000000,-1.000000,3,Winter,40,4
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,...,6000000,18107621,18107621,2019,12107621,2.017937,4,Spring,88,1

In [41]:
s_df= merged_df.copy()
s_df['Spring'] = s_df['season dummy'].apply(lambda x: 1 if x == 1 else 0)
s_df['Summer'] = s_df['season dummy'].apply(lambda x: 1 if x == 2 else 0)
s_df['Fall'] = s_df['season dummy'].apply(lambda x: 1 if x == 3 else 0)
s_df['Winter'] = s_df['season dummy'].apply(lambda x: 1 if x == 4 else 0)
s_df['season dummy'].value_counts()
s_df

,movie_id,start_year,primary_title,original_title,genres,runtime_minutes,director_name,writer_name,actors,id,...,Profit,Profit:Production Ratio,time_grouping,season,doy,season dummy,Spring,Summer,Fall,Winter
0,tt0249516,2012,Foodfight!,Foodfight!,"Action,Animation,Comedy",91.0,Lawrence Kasanoff,Sean Catherine Derek,Charlie Sheen,26,...,-44926294,-0.998362,4,Winter,366,4,0,0,0,0
1,tt0359950,2013,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,"Adventure,Comedy,Drama",114.0,None,Steve Conrad,"Ben Stiller, Jon Daly",37,...,96861183,1.064409,4,Winter,359,4,0,0,0,0
2,tt0365907,2014,A Walk Among the Tombstones,A Walk Among the Tombstones,"Action,Crime,Drama",114.0,Scott Frank,Lawrence Block,"Liam Neeson, David Harbour, Dan Stevens, Boyd ...",67,...,34108587,1.218164,4,Fall,262,3,0,0,0,0
3,tt0369610,2015,Jurassic World,Jurassic World,"Action,Adventure,Sci-Fi",124.0,Colin Trevorrow,Rick Jaffa,"Chris Pratt, Ty Simpkins",34,...,1433854864,6.669092,5,Summer,163,2,0,0,0,0
4,tt0376136,2011,The Rum Diary,The Rum Diary,"Comedy,Drama",119.0,Bruce Robinson,Hunter S. Thompson,"Johnny Depp, Giovanni Ribisi, Aaron Eckhart, M...",16,...,-23455268,-0.521228,4,Fall,301,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,tt8155288,2019,Happy Death Day 2U,Happy Death Day 2U,"Drama,Horror,Mystery",100.0,Christopher Landon,Scott Lobdell,"Israel Broussard, Suraj Sharma, Phi Vu",78,...,55179495,6.131055,4,Winter,44,4,0,0,0,0
1541,tt8266310,2019,Blinded by the Light,Blinded by the Light,"Biography,Comedy,Drama",117.0,Gurinder Chadha,Sarfraz Manzoor,"Kulvinder Ghir, Aaron Phagura, Viveik Kalra",64,...,-15000000,-1.000000,4,Summer,226,2,0,0,0,0
1544,tt8632862,2018,Fahrenheit 11/9,Fahrenheit 11/9,Documentary,128.0,Michael Moore,None,None,29,...,1653715,0.330743,5,Fall,264,3,0,0,0,0
1545,tt8852552,2010,Icarus,Icarus,Thriller,78.0,Maarten Diederen,Emile Beulen,None,91,...,-6000000,-1.000000,3,Winter,40,4,0,0,0,0
1546,tt9024106,2019,Unplanned,Unplanned,"Biography,Drama",106.0,Chuck Konzelman,None,"Jared Lotz, Brooks Ryan",33,...,12107621,2.017937,4,Spring,88,1,0,0,0,0

In [9]:
import statsmodels.api as sm

In [10]:
ppr = merged_df['Profit:Production Ratio']
#for single regression, we created a new variable panda series thats defined
#by the column profit production ratio in the df

In [11]:
time_cat = merged_df['time_grouping']
#for single regression, we created a new variable panda series thats defined
#by the column time grouping in the df

In [12]:
X= sm.add_constant(ppr)
#only add the constant to the column you are regressing on
results= sm.OLS(time_cat, ppr).fit()
results.params
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          time_grouping   R-squared (uncentered):                   0.157
Model:                            OLS   Adj. R-squared (uncentered):              0.157
Method:                 Least Squares   F-statistic:                              266.5
Date:                Thu, 04 Jan 2024   Prob (F-statistic):                    4.66e-55
Time:                        10:25:11   Log-Likelihood:                         -3931.7
No. Observations:                1427   AIC:                                      7865.
Df Residuals:                    1426   BIC:                                      7871.
Df Model:                           1
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Profit:Production Ratio     0.2683      0.016     16.325      0.000       0.236       0.300
==============================================================================
Omnibus:                     1697.602   Durbin-Watson:                   0.380
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           278154.818
Skew:                          -5.921   Prob(JB):                         0.00
Kurtosis:                      70.364   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [13]:
merged_df['time_grouping'].value_counts()

4    922
5    274
3    185
6     34
2      6
1      6
Name: time_grouping, dtype: int64

In [14]:
time_increments = [3, 4, 5, 6]

In [15]:
x_df= merged_df.copy()
x_df['30 min'] = x_df['time_grouping'].apply(lambda x: 1 if x == 1 else 0)
x_df['1 hour'] = x_df['time_grouping'].apply(lambda x: 1 if x == 2 else 0)
x_df['1.5 hours'] = x_df['time_grouping'].apply(lambda x: 1 if x == 3 else 0)
x_df['2 hours'] = x_df['time_grouping'].apply(lambda x: 1 if x == 4 else 0)
x_df['2.5 hours'] = x_df['time_grouping'].apply(lambda x: 1 if x == 5 else 0)
x_df['3 hours'] = x_df['time_grouping'].apply(lambda x: 1 if x == 6 else 0)
x_df['time_grouping'].value_counts()

4    922
5    274
3    185
6     34
2      6
1      6
Name: time_grouping, dtype: int64

In [16]:

list_to_drop_from_reg = ['Profit:Production Ratio', 'time_grouping', 'movie_id', 'start_year', 'primary_title', 'original_title', 'genres', 'runtime_minutes', 'director_name', 'writer_name', 'actors', 'id', 'release_date', 'movie', 'year', 'Profit', 'production_budget', 'domestic_gross', 'worldwide_gross']
X = x_df.drop(columns = list_to_drop_from_reg)
y = x_df['Profit:Production Ratio']
#plt.figure(figsize=(20, 8))
#sns.heatmap(X.corr(), annot=True)
#plt.title('time regression heatmap')
#plt.show()
X_augmented = sm.add_constant(X)
X_augmented
results = sm.OLS(y, X_augmented).fit()
results.summary()
# # print(results)
# weights = results_standardized.params
# weights

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
===================================================================================
Dep. Variable:     Profit:Production Ratio   R-squared:                       0.004
Model:                                 OLS   Adj. R-squared:                  0.000
Method:                      Least Squares   F-statistic:                     1.097
Date:                     Thu, 04 Jan 2024   Prob (F-statistic):              0.360
Time:                             10:25:18   Log-Likelihood:                -4483.0
No. Observations:                     1427   AIC:                             8978.
Df Residuals:                         1421   BIC:                             9010.
Df Model:                                5
Covariance Type:                 nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.9224      0.489      3.928      0.000       0.962       2.883
30 min        -0.5145      1.997     -0.258      0.797      -4.432       3.403
1 hour        -1.1642      1.997     -0.583      0.560      -5.081       2.753
1.5 hours      1.3003      0.601      2.164      0.031       0.122       2.479
2 hours        0.4021      0.514      0.783      0.434      -0.606       1.410
2.5 hours      0.5156      0.567      0.909      0.363      -0.597       1.628
3 hours        1.3831      0.949      1.457      0.145      -0.479       3.245
==============================================================================
Omnibus:                     1870.061   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           425593.330
Skew:                           6.974   Prob(JB):                         0.00
Kurtosis:                      86.447   Cond. No.                     1.95e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.71e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [18]:
sm.stats.diagnostic.het_goldfeldquandt(y, X, drop=0.2)

(1.0984499108634296, 0.14270714708681342, 'increasing')

In [28]:
sm.stats.diagnostic.linear_rainbow(results)

(0.720131615966048, 0.9999936634715543)